// COLOR PLACEHOLDER
@mixin placeholder($color-placeholder) {
	input::-webkit-input-placeholder { color: $color-placeholder; }
	input:-moz-placeholder { color: $color-placeholder; }
	input::-moz-placeholder { color: $color-placeholder; }
	input:-ms-input-placeholder { color: $color-placeholder; }
}

// OPACITY
@mixin opacity($opacity) {
  opacity: $opacity;
  // IE8 filter
  $opacity-ie: ($opacity * 100);
  filter: alpha(opacity=$opacity-ie);
}

// HOVER
@mixin hover($color-bg) {
    position: absolute;
	background-color: $color-bg;
	width: 100%;
	height: 100%;
	top: 0;
	opacity: 0;
	transition: opacity .50s ease-in-out;
	-moz-transition: opacity .50s ease-in-out;
	-webkit-transition: opacity .50s ease-in-out;
}

// TRANSFORM
@mixin transform($transforms) {
            transform: $transforms;
       -moz-transform: $transforms;
        -ms-transform: $transforms;
    -webkit-transform: $transforms;
}

// ROTATE
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

// SOCIAL

@mixin icon-social($bg-social) {        
	background: $bg-social;         
}

@mixin color-social($color-social) {
	background: #FFF; color: $color-social;
}