// Variable
$time-transition        : 0.5s;
$white                  : #FFF;
$white-o                : rgba(255, 255, 255, 0.8);
$black-o                : rgba(0, 0, 0, 0.8);

// SOCIAL
$color-facebook         : #4e71a8;
$color-instagram        : #ce6f2d;
$color-twitter          : #1cb7eb;
$color-youtube          : #ca4638;